<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <div class="achievements-container">
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fas fa-code" style="color: #f08c00; margin-right: 8px;"></i>
                    </div>
                    <h3 class="achievement-title">Leetcode mastery</h3>
                    <p class="achievement-description">
                        Mastered <strong>400+ coding problems</strong> on <strong>LeetCode</strong>, refining problem-solving, optimization, and real-world algorithmic thinking.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="achievement-title">5-Star Gold Rank in Java on HackerRank</h3>
                    <p class="achievement-description">
                        Solved 800+ coding problems across platforms like LeetCode, HackerRank, Codeforces, and GeeksforGeeks.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <h3 class="achievement-title">TCS Codevita</h3>
                    <p class="achievement-description">
                        Ranked in top 1000 among the top participants worldwide in one of the most competitive global coding contests with 1 million+ participants.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <h3 class="achievement-title">Certfication</h3>
                    <p class="achievement-description">
                        Done a JAVA Full Stack Development Course and also Earned a certification in SQL from Udemy.
                    </p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>