<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Projects</h2>
<!--                <p class="section-subtitle">-->
<!--                    Explore some of my recent videos, courses on youtube and Udemy-->
<!--                </p>-->
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/Trinetra.png" alt="Trinetra">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                            <span class="project-tag">Java Script</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Trinetra – Industrial Employee & Infrastructure Monitoring System</h3>
                        <p class="project-description">
                            A web-based platform for managing employees, companies, and IPC (camera) systems in small to medium-scale industries. Includes role-based access (Admin & Manager), employee tracking, and real-time dashboard.
                        </p>
<!--                        <div class="project-links">-->
<!--                            <a href="https://github.com/scbushan05/expense-manager-api" class="project-link" target="_blank">-->
<!--                                <i class="fab fa-github"></i> View Code-->
<!--                            </a>-->
<!--                        </div>-->
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/yoga-pose-recommender.png" alt="yoga-pose-recommender">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Python</span>
                            <span class="project-tag">Flask</span>
                            <span class="project-tag">Firestore</span>
                            <span class="project-tag">FastAPI</span>
                            <span class="project-tag">Machine Learning</span>
                            <span class="project-tag">Gemini</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Yoga-Pose-Recommender</h3>
                        <p class="project-description">
                            Built a smart yoga pose recommendation system that suggests personalized postures based on user input (e.g.,
                            back pain, stress, flexibility goals).

                        </p>
                        <div class="project-links">
                            <a href="https://github.com/PrashanttBG/yoga-pose-recommender" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/Mail-Buddy.png" alt="Ener Tracker">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Java</span>
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Gemini API</span>
                            <span class="project-tag">Thymeleaf</span>
                            <span class="project-tag">IntelliJ IDEA</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Mail-Buddy – Smart Email Assistant</h3>
                        <p class="project-description">
                            Mail-Buddy is a personalized email assistant that simplifies the process of composing, sending, and managing professional emails.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/PrashanttBG/MailBuddy" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/Portfolio.png" alt="Freelance retail billing software">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                            <span class="project-tag">Java Script</span>
                            <span class="project-tag">Spring Boot</span>

                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Personal Portfolio Website</h3>
                        <p class="project-description">
                            A modern, responsive personal portfolio site that highlights your skills, projects, achievements, and professional background. Designed to reflect your personality and professionalism.
                        </p>
                        <div class="project-links">
                            <a href="" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>